* {
  margin: 1px;
  padding: 1px;
}

.wireframe {
  background-color: lightcoral;
  border: 2px solid black;
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
}

.wireframelink {
  display: flex;
  flex: wrap;
  text-align: right;
}

.testpages {
  margin: 2px;
  padding: 2px;
  text-align:center;
  justify-content: space-evenly;
}